<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Game Inventory</title>
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <h1>🎮 Game Inventory Manager</h1>
  
  <div id="searchContainer">
    <input type="text" id="searchBar" placeholder="Search for a game..." />
    <select id="platformSearch">
        <option value="" disabled selected>Platform (e.g. PS1, Xbox)</option>
        <option value="PS1">PS1</option>
        <option value="PS2">PS2</option>
        <option value="PS3">PS3</option>
        <option value="PS4">PS4</option>
        <option value="PS5">PS5</option>
        <option value="OG XBOX">OG XBOX</option>
        <option value="XBOX 360">XBOX 360</option>
        <option value="XBOX ONE">XBOX ONE</option>
        <option value="SERIES S">SERIES S</option>
        <option value="SERIES X">SERIES X</option>
        <option value="Nintendo Switch">Nintendo Switch</option>
        <option value="PSP">PSP</option>
    </select>
  </div>

  <div class="addForm">
    <input type="text" class="gamename" id="gameName" placeholder="Game Name">
    <select class="platform" id="platform">
        <option value="" disabled selected>Platform (e.g. PS1, Xbox)</option>
        <option value="PS1">PS1</option>
        <option value="PS2">PS2</option>
        <option value="PS3">PS3</option>
        <option value="PS4">PS4</option>
        <option value="PS5">PS5</option>
        <option value="OG XBOX">OG XBOX</option>
        <option value="XBOX 360">XBOX 360</option>
        <option value="XBOX ONE">XBOX ONE</option>
        <option value="SERIES S">SERIES S</option>
        <option value="SERIES X">SERIES X</option>
        <option value="Nintendo Switch">Nintendo Switch</option>
        <option value="PSP">PSP</option>
    </select>

    <input type="text" id="imageUrl" placeholder="Image URL (optional)">
    <button id="addGameBtn">Add Game</button>

    <div id="toast" class="toast" onclick="hideToast()">
      <span id="toast-icon">✔️</span>
      <span id="toast-message"></span>
    </div>
    <div id="confirm-toast" class="confirm-toast" style="display:none;">
      <span id="confirm-message">Are you sure you want to delete this game?</span>
      <div class="button-container">
          <button id="confirm-yes" class="confirm-btn">Yes</button>
          <button id="confirm-no" class="confirm-btn">No</button>
      </div>
    </div>
  </div>

  <div id="gameList"></div>
 
  <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
</body>
</html>
